.imgs {
  width: 100%;
  max-height: 90vh;
  /* object-fit: cover; */
  /* overflow-clip-margin: content-box; */
  /* overflow: clip; */
  /* vertical-align: middle; */
  border-style: none;
}
.teste {
  border: 1px solid red;
}
.button-padding {
  margin-left: 20px;
}
