.testecontainer {
  border: 1px solid red;
  padding: 10px;
}
.testerow {
  border: 1px solid blue;
  margin: 10px;
}
.testecol {
  border: 1px solid green;
  padding: 10px;
}
.imgs {
  width: 100%;
  max-height: 90vh;
  /* object-fit: cover; */
  /* overflow-clip-margin: content-box; */
  /* overflow: clip; */
  /* vertical-align: middle; */
  border-style: none;
}
.button-padding {
  margin-left: 20px;
}
