@font-face {
  font-family: 'Fjalla One';
  src: url('assets/fonts/Fjalla_One/FjallaOne-Regular.ttf') format('ttf');
  /* Adicione outros formatos de fonte aqui, se necessário */

  font-family: 'Inter';
  src: url('assets/fonts/Inter_Bold/Inter-Bold.ttf') format('ttf');
}

.treinamento {
  color: white;
}

.painel-tempo {
  /*   width: 600px;
    margin: 75px 60px; */
  /*     width: 600px; */
  padding: 75px 20px;
}

.principal {
  height: 300px;
  padding: 40px 0px;
  display: flex;
  color: black;
  background: #58CD2F;
  flex-direction: column;
  align-items: center;
}

.nome-principal {
  font-weight: 700;
  font-size: 45px;
  font-family: 'Inter', sans-serif;
}

.tempo-principal {
  line-height: 136px;
  font-size: 150px;
}

.secundario {
  height: 200px;
  padding: 40px 0px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  background: #F93232;
}

.nome-secundario {
  font-weight: 700;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
}

.tempo-secundario {
  line-height: 95px;
  font-size: 90px;
}

.valor-tempo {
  font-weight: 600;
  font-family: 'Fjalla One', sans-serif;
}

.secoes {
  display: flex;
  justify-content: space-between;
  color: #FFB800;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  font-family: 'Inter', sans-serif;
  margin: 5px 0px;
}

.numberInput {
  width: 30px;
}

.input {
  width: 47px;
  color: white;
  background: #323232;
  border: unset;
}

.entre-secoes {
  display: flex;
  height: 500px;
  padding: 40px 0px;
  color: black;
  background: #3eacea;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nome-entre-secoes {
  font-weight: 700;
  font-size: 45px;
  font-family: 'Inter', sans-serif;
}

.tempo-entre-secoes {
  line-height: 136px;
  font-size: 150px;
  font-family: 'Fjalla One', sans-serif;
}
.hidden {
  display: none;
}